@import "~swiper/css";
@import "~swiper/css/grid";

.slider-product {
  position: relative;

  .image-item {
    cursor: pointer;
  }

  .prevBtn,
  .nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #f2f2f2;
    border-radius: 3px;
    z-index: 10;
    border: none;
    display: none;

    &:hover {
      background-color: #40a944;
      color: white;
    }
  }

  .prevBtn {
    left: -10px;
  }

  .nextBtn {
    right: -10px;
  }

  &:hover {
    .prevBtn,
    .nextBtn {
      display: block;
    }
  }
}
