<div class="table">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="table_desc">
          <div class="cart_page">
            <table>
              <thead>
                <tr>
                  <th *ngFor="let item of columns">{{ item.header }}</th>
                </tr>
              </thead>
              <tbody>
                <ng-content></ng-content>
              </tbody>
            </table>
          </div>
          <div class="cart_submit" *ngIf="showSubmitBtn">
            <button class="reverse" type="submit">update cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
