.tab-pane {
  display: block;
  height: auto;
  opacity: 1;

  .product_d_table {
    padding: 10px 0 22px;

    table {
      caption-side: bottom;
      border-collapse: collapse;
      border-top: 1px solid #ddd;
      width: 100%;

      tbody tr {
        border-bottom: 1px solid #ddd;

        td {
          padding: 7px 17px;

          &:first-child {
            border-right: 1px solid #ddd;
            width: 30%;
            font-weight: 700;
          }
        }
      }
    }
  }

  .product_info_content p {
    line-height: 28px;
  }
}
