.customer_login {
  padding: 69px 0 70px;

  .account_form {
    h2 {
      font-size: 28px;
      text-transform: capitalize;
      font-weight: 500;
      line-height: 22px;
      margin-bottom: 30px;
    }

    .form {
      border: 1px solid #ededed;
      padding: 23px 20px 29px;
      border-radius: 5px;

      p {
        margin-bottom: 20px;
      }
    }

    label {
      font-size: 16px;
      font-weight: 400;
      cursor: pointer;
      line-height: 12px;
      margin-bottom: 12px;
    }

    input {
      border: 1px solid #ededed;
      height: 40px;
      max-width: 100%;
      padding: 0 20px;
      background: none;
      width: 100%;
    }

    .login_submit {
      text-align: right;
      a {
        font-size: 15px;
        float: left;
        line-height: 39px;
      }

      label input[type="checkbox"] {
        width: 15px;
        height: 13px;
        margin-right: 3px;
      }
    }

    button {
      background: #40a944;
      border: 0;
      color: #ffffff;
      display: inline-block;
      font-size: 12px;
      font-weight: 700;
      height: 34px;
      line-height: 26px;
      padding: 5px 20px;
      text-transform: uppercase;
      cursor: pointer;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      margin-left: 20px;
      border-radius: 20px;

      &:hover {
        background: #222222;
      }
    }
  }
}
