<div class="home">
  <app-header-swiper></app-header-swiper>
  <app-shipping-area></app-shipping-area>
  <app-product-list></app-product-list>
  <div class="banner_area">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="single_banner">
            <div class="banner_thumb">
              <a href="shop.html"
                ><img src="assets/images/bg/banner1.jpg" alt=""
              /></a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="single_banner">
            <div class="banner_thumb">
              <a href="shop.html"
                ><img src="assets/images/bg/banner2.jpg" alt=""
              /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
