@import "../../../assets/styles/mixin";

.home {
  .banner_area {
    margin-bottom: 65px;

    .banner_thumb {
      @include hoverEffect;
    }
  }

  .banner_fullwidth {
    margin-bottom: 65px;
    background-image: url("../../../assets/images/bg/banner3.jpg");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 55px 0 60px;

    .banner_full_content {
      p {
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        color: #40a944;
        margin-bottom: 9px;
      }

      h2 {
        font-size: 46px;
        line-height: 50px;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 0;

        span {
          display: block;
          font-size: 28px;
          line-height: 30px;
          font-weight: 400;
        }
      }

      a {
        margin-top: 45px;
        @include ButtonLink;
      }
    }
  }
}