.error_section {
  padding: 55px 0 70px;

  .error_form {
    text-align: center;

    h1 {
      font-size: 200px;
      font-weight: 700;
      color: #40a944;
      letter-spacing: 10px;
      line-height: 160px;
      margin: 0 0 52px;
    }

    h2 {
      font-size: 24px;
      text-transform: uppercase;
      font-weight: 500;
      line-height: 30px;
      margin-bottom: 20px;
    }

    p {
      font-size: 17px;
      font-weight: 400;
      line-height: 26px;
      margin-bottom: 30px;
    }

    a {
      color: #fff;
      display: inline-block;
      background: #40a944;
      font-size: 12px;
      font-weight: bold;
      height: 40px;
      line-height: 40px;
      padding: 0 30px;
      text-transform: uppercase;
      margin-top: 35px;
      border-radius: 3px;

      &:hover {
        background-color: #222222;
      }
    }
  }
}
