*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  line-height: 24px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  visibility: visible;
  font-family: "Work Sans", sans-serif;
  color: #222222;
  letter-spacing: 0.02em;
}

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

a,
button,
img,
input,
span {
  transition: all 0.3s ease 0s;
}

a,
button {
  color: inherit;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

p:last-child {
  margin-bottom: 0;
}

*:focus {
  outline: none !important;
}

h2 {
  font-size: 36px;
  line-height: 36px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin-top: 0;
}

a:hover {
  color: #40a944;
}

figure {
  padding: 0;
  margin: 0;
}
