@mixin hoverEffect {
  position: relative;
  transition: 0.3s;

  &::before {
    background: rgba(255, 255, 255, 0.3);
    bottom: 0;
    content: "";
    left: 50%;
    position: absolute;
    right: 51%;
    top: 0;
    opacity: 1;
    pointer-events: none;
  }

  &::after {
    background: rgba(255, 255, 255, 0.6);
    bottom: 50%;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    opacity: 1;
    pointer-events: none;
  }

  img {
    transition: 0.3s;
    width: 100%;
  }

  &:hover::before {
    left: 0;
    right: 0;
    opacity: 0;
    transition: all 900ms linear;
  }

  &:hover::after {
    top: 0;
    bottom: 0;
    opacity: 0;
    transition: all 900ms linear;
  }
}

@mixin ButtonLink {
  font-size: 15px;
  font-weight: 400;
  padding: 0 25px;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 10px;
  height: 44px;
  line-height: 44px;
  background: inherit;
  color: #fff;
  background: #40a944;

  &:hover {
    background-color: #222222;
  }
}

@mixin Button {
  border: 0;
  font-size: 16px;
  background: #40a944;
  color: #fff;
  height: 42px;
  line-height: 42px;
  text-transform: capitalize;
  min-width: 270px;
  border-radius: 3px;

  &:hover {
    background-color: #222222;
  }
}

@mixin ButtonSmall {
  background: #40a944;
  border: 0;
  color: #ffffff;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  height: 38px;
  line-height: 18px;
  padding: 10px 15px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 3px;
  &.reverse {
    background: #222222;
  }

  &:hover {
    background: #222222;
    &.reverse {
      background: #40a944;
    }
  }
}

@mixin TableRow {
  td {
    border-bottom: 1px solid #ededed;
    border-right: 1px solid #ededed;
    text-align: center;
    padding: 10px;

    &.product_remove {
      width: 100px;

      a {
        font-size: 20px;
        color: #222222;

        &:hover {
          color: #40a944;
        }
      }
    }

    &.product_thumb {
      width: 170px;
      padding: 20px;
    }

    &.product_name {
      width: 230px;
    }

    &.product-price {
      width: 150px;
      color: #222222;
      font-size: 16px;
      font-weight: 500;
    }

    &.product_quantity {
      width: 218px;

      label {
        font-weight: 500;
        margin-right: 5px;
      }
      input {
        width: 60px;
        height: 40px;
        padding: 0 5px 0 10px;
        background: none;
        border: 1px solid #ededed;
      }
    }

    &.product_total {
      width: 150px;

      a {
        @include ButtonSmall;
      }
    }

    &:last-child {
      border-right: 0;
    }
  }
}
